.about{
  margin: 1rem;
  padding-left: 1rem;
  ol{
    color: $grey;
    padding: 2rem 0 2rem 1.2rem;
  }
  h1{
    text-align: center;
  }

  .description{
    max-width: 720px;
    margin: 0 auto;
  }
}

.center {
  text-align: center;
}
