.clock{
  display: inline-block;
  border-radius: 100%;
  color: $white;
  width: 300px;
  height: 300px;
  margin: 20px;
  &.primary{
    background-color: map-get($foundation-palette, primary);
  }
  &.alert{
    background-color: map-get($foundation-palette, alert);
  }
}

span.sec{
  color: $white;
  font-size: 3rem;
  line-height: 300px;
}
