.clock{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $white;
  width: 14rem;
  height: 14rem;
  margin: 20px;

  &.primary{
    background-color: map-get($foundation-palette, primary);
  }
  &.alert{
    background-color: map-get($foundation-palette, alert);
  }
}

span.sec{
  color: $white;
  font-size: 3rem;
}
